<p>You can view details about the workshop here. You can also use the buttons below to upload documents and leave text based information for your workshop.</p>

<div class="row">
  <div class="col-lg-6">
  <h5>REGISTERED PARTICIPANTS</h5>
  <% @registered_participants.each do |r| %>
    <%= r.user.full_name %> <%= link_to 'Deregister', workshop_deregister_path(@workshop, r.user), :remote=>true, :method=>:post %> <br>
  <% end %>
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
  <h5>ACTIONS</h5>
  </div>
</div>