<p>You can view details about the workshop here. You can also use the buttons below to upload documents and leave text based information for your workshop.</p>

<%= @registered_participants.inspect %>