<br><br>

<h1>Upload Passport Scan</h1>
<br><br>
<div class="row">
	<div class="col-lg-4">
		<p>SCCS-Bengaluru is required to collect the following information from foreign citizens because it is <strong>mandated by the Government of India for getting official clearance for applying for your conference visa</strong> to travel to India to attend the conference.</p>
		<p>Please upload the scan of the main pages, where your personal information us listed, including name, address, date of issue/expiry</p>
		<p>The scan of your passport must be in PDF format. The size of the pdf should be less than 2 MB.</p>
		<hr>
		<p class="text-muted">If you are having any trouble with this, or are uncomfortable doing this, please write to <br><a href="mailto:sccs@sccs-bng.org">sccs@sccs-bng.org</a> <br> with <strong>PASSPORT WOES</strong> in the subject line.</p>
		<% if @user.passportscan.exists? %>
		<p>Current upload <%= @user.passportscan %></p>
		<% end %>
		<hr>
		  <%= form_for @user, :url => passport_path, :method=>'post', :html => { :multipart => true } do |form| %>
		    <%= form.file_field :passportscan %>
		    <hr><br>
		    <%= form.submit "UPLOAD", :class=>"btn btn-success" %>
		  <% end %>
	</div>
	<div class="col-lg-8">
		.
	</div>
</div>