<h1>All Reviewers</h1>
<br>
<hr>
Links to : <%= link_to "Review Overview", review_overview_path %> / <%= link_to "Add Reviewer", new_participant_path %>
<hr>
<br>

<% @reviewers.each do |r| %>
	<%= r.full_name %> <br>
<% end %>