<div class="jumbotron">
	<div class="container">
		<h1>Student Conference on Conservation Science - Bengaluru</h1>
		<p class="lead">8 - 11 SEPTEMBER 2015, IISc, BENGALURU • 300 of Africa and Asia's brightest conservation researchers</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-3">klm</div>
	</div>
</div>