<div class="jumbotron">
	<br><br><br>
	<div class="container">
		<h1>Student Conference on <br> Conservation Science - Bengaluru</h1>
		<p class="lead"><strong>8 - 11 SEPTEMBER 2015, IISc, BENGALURU </strong><br> 300 of Africa and Asia's brightest conservation researchers</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<% @announcements.each do |a| %>
		<div class="col-lg-3 announce">
			<div class="date">
				<strong><%= a.date %></strong>
			</div>
			<div class="title">
				<%= a.title %>
			</div>
			<div class="message">
				<%= a.message %>
			</div>
		</div>
		<% end %>
	</div>
	<br><hr><br>
	<div class="row">
		<div class="col-lg-6">
			<a class="twitter-timeline" width="540" height="300" href="https://twitter.com/sccsbng" data-widget-id="490797529257107456">Tweets by @sccsbng</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-lg-5">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like-box" data-href="https://www.facebook.com/sccsbangalore" data-height="300" data-width="500" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
		</div>
	</div>
</div>