<div class="jumbotron">
	<br>
	<div class="container">
		<h1>Student Conference on <br> Conservation Science - Bengaluru</h1>
		<p class="lead"><strong>8 - 11 SEPTEMBER 2015, IISc, BENGALURU </strong><br> 300 of Africa and Asia's brightest conservation researchers</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<% @announcements.each do |a| %>
		<div class="col-lg-3 announce">
			<div class="date">
				<strong><%= a.date %></strong>
			</div>
			<div class="title">
				<%= a.title %>
			</div>
			<div class="message">
				<%= a.message %>
			</div>
		</div>
		<% end %>
	</div>
</div>