<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Dear <%= @user.full_name %>,</strong></p>
    <p>Thank you for accepting our invitation to review abstracts for SCCS-Bengaluru 2015.</p>
    <p>An administrator at sccs-bng.org has added you to the site as <strong><% @user.role == 'reviewer' ? "a" : "an" %> <%= @user.role %></strong>.</p>
    <p>Your login credentials are below. Please note, you can change your password once you <a href="http://www.sccs-bng.org/users/sign_in" "email me">SIGN IN</a> to the site (bottom right of page)..</p>

    <pre style="background-color: #f0f0f0; padding:5px;">
      <strong>Username :</strong> <%= @user.email %> <br>
      <strong>Password :</strong> <%= @password %>
    </pre>

    <% if @user.role == 'reviewer' %>
    <p>The abstract review guidelines are found below, and are also accessible once you login.</p>
    <% end %>

    <p>Best wishes, <br>
    SCCS-Bengaluru 2015 Organizing Committee </p>

    <% if @user.role == 'reviewer' %>
<br>
<hr>
<br>
      <div class="WordSection1">

      <p><strong>Guidelines for reviewers:</strong></p>

      <p><strong>1.
      Conflict of interest:</strong></p>

      <p>Please inform us (send an email to
      sccs@sccs-bng.org) of conflicts of interest, if any, with regard to the
      abstracts assigned to you. If you
      have been assigned an abstract of a student from your lab, of someone you have supervised or
      assisted, of a friend or relative, etc., please let us know and we will
      reassign the abstract to another reviewer. If you are not certain if a
      particular case constitutes a conflict of interest, please email us the details
      and we will help you to make a decision.</p>

      <p><strong>2.
      Abstract submission format </strong></p>

      <p>Students have been asked to submit their
      abstract under the format below (word limit is in parentheses):</p>

      <p>1. Title (20)</p>

      <p>2. Introduction: What conservation issue,
      problem or question does your study address? (100)</p>

      <p>3. Methods/ Materials/Methodology: What were
      the main research methods you used? (125)</p>

      <p>4. Results/ Findings/Argument Development:
      What are the main results/findings of your study? (125)</p>

      <p>5. Discussion/Synthesis and conservation
      relevance: Discuss and synthesise your results based
      on the evidence presented in your results section. Please also use this section
      to discuss the relevance of your findings for conservation practice/science.
      (100)</p>

      <p>*6. Visual Component (JPEG/PNG file less than
      1 MB in size):</p>

      <p>7. Study location GPS co-ordinates:</p>

      <p>8. Keywords (Maximum of 5 keywords separated
      by semi-colons) </p>

      <p><em>* Visual
      component of the abstract</em>:</p>

      <p style="text-indent:36.0pt">It is mandatory for
      presenters to include a visual component in their abstract submission, which
      should typically serve as a complement to their textual element. Students have
      been instructed that the visual component of their abstract can take any of the
      following forms : graphs, tables, maps, figures, illustrations, flow charts,
      photographs and/or other visual elements, and should illustrate the main
      results, the study design, or the main idea that is captured by the study.
      Typically, text within their illustration should be minimal. Please note that
      the visual component is not expected to act as a stand-alone visual abstract.
      Please also note that SCCS-Bengaluru would like to attract a diversity of
      research questions and approaches within conservation science; and for certain
      research questions, e.g., those involving non-quantitative approaches, it may
      not be possible/appropriate to use certain visualisation
      aids (e.g., graphs, tables).</p>

      <p>The visual component is mainly to help
      reviewers gauge the quality and quantity of the data presented in the abstract
      and to flag abstracts based on literature reviews or opinions (which are not
      appropriate at this conference). Visual components also help students who have
      difficulty in written English, present their main results with minimal text.
      The visual component of the abstract should be judged primarily based on the clarity of the message conveyed
      and not by its visual appeal.</p>

      <p><strong>3.
      Scoring abstracts:</strong></p>

      <p>Please score each abstract on two different
      aspects - conservation relevance ('Conservation') and quality of research
      ('Science'). Each aspect is scored from 0 to 5, with 0 indicating very poor
      relevance/quality and 5 very high relevance/quality. Please use the whole range
      of possible values (0 – 5) as required. Ensure that you select these
      values before you save changes.</p>

      <p><em>Scoring
      the visual component:</em> Please also score the visual
      component of the abstract from 0 to 5, with 0 indicating very poor
      relevance/quality and 5 very high relevance/quality. </p>

      <p>For each abstract, please provide your
      recommendation from one of the following choices:</p>

      <p><strong>“Talk”</strong>, better-suited for talk than poster</p>

      <p><strong>“Poster”</strong>, better-suited for poster than talk </p>

      <p><strong>“Either
      a talk or a poster”</strong>, equally-suited for talk or
      poster </p>

      <p><strong>“Not
      acceptable as talk or poster”</strong>, not suitable for
      talk or poster</p>

      <p>This is meant to convey your overall
      impression of the quality of the abstract and its suitability as a talk or
      poster. We would like talks to be of good quality and preferably based on
      completed work. We would like to be more flexible with regard to our selections
      for the poster session, allowing both completed work, work-in-progress as well as proposed work.</p>

      <p><strong>4.
      Feedback:</strong></p>

      <p>You have the option of leaving two kinds of
      comments:</p>

      <p>1. Comments that the applicant and organisers can view</p>

      <p>2. Comments available only to the organisers</p>

      <p>Both these are optional but we hope you use
      them in most cases, to tell us what you liked and didn’t like about a
      particular abstract. We would also value it greatly if you can provide
      constructive feedback to the applicants.</p>

      <p><strong>5.
      Using the web-based review process:</strong></p>

      <p>Your home screen will have a list of all
      abstracts assigned to you. You can click on the title of any abstract to view
      and evaluate the abstract. You have the option of saving changes as you
      evaluate an abstract, which allows you to edit and re-evaluate the abstract as
      many times as you like. Once you have finished evaluating the abstract, please
      hit the 'Finalise Review' button. Please note that
      you will only be able to finalise the review once you
      have clicked on ‘save changes’. Once you 'Finalise
      Review', you will not be able to edit or re-evaluate the abstract.</p>

      <p>-Please send an email to sccs@sccs-bng.org once you have completed reviewing
      all the abstracts assigned to you.</p>

      <p>-We would like to have all the abstracts
      reviewed latest by Friday 25 April, 2015. We have a
      commitment to communicate all results to applicants by the first week of May
      2015. At this time we also have to send a list of foreign attendees and their
      visa details to the Ministry of External Affairs in India.</p>

      <p>-Do contact us at sccs@sccs-bng.org if you
      need any further information or clarification. </p>

      <p>-Please do share with us feedback on this
      review procedure. Are there any changes you would like to see?</p>

      <p>Once you have set your
      password, you can login at http://www.sccs-bng.org/users/sign_in</p>

      </div>
    <% end %>
    <!-- End reviewers if -->


  </body>
</html>