#error_explanation {
	h2 {
		font-size: 16px;
		font-weight: bold;
		margin-top: 0px;
		text-shadow: none;
	}	
}

.container .form-group {
	input[type="text"], textarea {
		border: 1px solid #f0f0f0;
	}
	label {
		margin-top: 10px;
		min-width: 100px;
		text-transform: uppercase;
		font-weight: 500;
	}
	h3 {
		margin-top: 30px;
	}

	input[required="required"] {
	}

	&.selectordate select.form-control {
		width: 30%;
		max-width: 50px;
		display: inline-block;
		margin-right: 10px;
		font-size: 100%;
	}

	.radio label{
		text-transform: none;
		float: left;
	}
}

.registrations .form-group {
	p.text-muted {
		background-color: #f3f3f3;
		padding: 5px 10px;

		&:before {
			content: 'NOTE :';

		}
	}
}