// Place all the styles related to the Webpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.webpage {
	h1 {
		font-weight: 100;
		// color: #cc7a00;
		border-bottom: 4px solid;
	}

	h3, h4, h5 {
		font-weight: bold;
	}
}