$('body').remove('#mymodal');

var html = '';
// Open the modal
html += '<div class="modal fade bs-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content">';


html += '<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">';

// Modal Header
html += 'Reviewer Assignment';

html += '</h4></div><div class="modal-body">'
html += 'Assigning Reviewers to: <br>';
html += '<strong><%= @submission.title %></strong> by <%= @submission.user.full_name %>';
html+='<br><p>';
<% @assigned_reviewers = [] %>
<% @assigned_reviews.each do |ar| %>
	<% @assigned_reviewers << ar.user %>
<% end %>
<% @freereviewers = @allreviewers - @assigned_reviewers %>

<% @freereviewers.each do |r| %>
	html += '<%= link_to "Assign #{r.full_name}", assign_reviewer_path(@submission.id, r.id), :remote=>true, :class=> "load btn btn-small", :method => :post %>';
<% end %>
<% if @freereviewers.empty? %>
	html += 'All Reviewers have been assigned to this submission or you have not added enough reviewers.'
<% end %>
html+='</p>';


html += '</div><div class="modal-footer">';
// Modal Footer
html += '<button type="button" class="btn btn-default loadit" data-dismiss="modal">Close</button>'

// Close the modal
html += '</div></div></div></div>';

$('body').append(html);


// Call the modal
$('#mymodal').modal({'backdrop':'static'});